# dependencies
node_modules/

# logs
*.log

# environment variables
*.env
.env

# build output
dist/
build/
.vite/

# OS files
.DS_Store

# Python & Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3

# Virtual environments
venv/
env/
e/
ENV/
env.bak/
venv.bak/

# Django Media and Uploads
media/
backend/media/

# ML/Audio files generated locally
*.wav
tts/